:host {
	font-family: 'Comfortaa', cursive;
	font-size: 24px;
}

.toolbar{
	height: 60px;
	margin: -8px;
	display: flex;
	align-items: center;
	background-color: #52b304; 
	color: white;
	font-weight: 600;
}
.toolbar img{
	margin: 0 16px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  padding-top: 1em;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  margin-right: 25px;
}
nav a:visited, a:link {
  color: #000;
}
nav a:hover {
  color: #52b304;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}